#left-bar {
    flex: 1;

    background: #8b8b8b;
}

#left-bar .frame-title {
    height: 76px;

    display: flex;
    justify-content: center;

    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid #a6a6a6;
}

#left-bar .frame-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

    padding: 10px 0px 10px 0px;
    gap: 10px;
}
